## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <!--<li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>--!>
          <li><a href="http://elearning.up.pt/novo/mooc/" target="_blank">U.Porto MOOC</a></li>
          <li><a href="http://elearning.up.pt/novo/quem-somos/contacto/" target="_blank">Contact</a></li>
          <li><a href="http://elearning.up.pt/novo/mooc/recursos/" target="_blank">Help</a></li>
          <li><a href="http://elearning.up.pt/novo" target="_blank">htt://elearning.up.pt</a>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org" target="_blank">OpenEdX</a>.</span>
    </div>
  </footer>
</div>
